@font-face {
    font-family: Russian;
    src: url("fonts/Kyrilla.ttf");
}

@font-face {
    font-family: Lato;
    src: url("fonts/Lato-Regular.woff");
}

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

.navbar {
    background-color: white;
    position: relative;
}

.title {
    font-family: Russian;
    color: black;
    font-size: 35px;
    padding: 0px;
    text-decoration: none;
    position: relative;
}

.navbar {
    border-radius: 0px;
}

.subtitle {
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 58px;
    padding: 5%;
    text-align: center;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: fixed;
    top: 0px;
    left: -120px;
    width: 150%;
    height: 150%;
}